---
layout: default
---

<section class="hero">
    <div class="contain">
        <p>I am a self-taught computer person living in Chicago,&nbsp;IL&nbsp;🌎 with my&nbsp;wife&nbsp;👰 and&nbsp;cat&nbsp;🐈. I've been working in software since 2007 and I'm not even close to done yet.
        </p>
    </div>
</section>

{% if site.paginate %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}
<section>
    <h3>📰 Posts</h3>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <article>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
        </a>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
    </article>
    {%- endfor -%}
</section>
{%- endif -%}
{{ content }}
